include head1

block content
  .container#thanks.animsition
    .jumbotron
      h1 Thank you, for be in touch, #{name} !
      hr
      a.btn.btn-primary.btn-lg(href='/')
       spam.fa.fa-home  Home


include footer
   
include script    
