block footer
      
  footer#footer
    a(href='#').info.fa.fa-info-circle
      span About
    
    .inner
      .content
        h3 Favorites Quote
        hr
        p#quote "Only put off until tomorrow what you are willing to die having left undone."
        
        i#author Pablo Picasso
        hr
      .copyright
        h3 Follow me
        ul.icons
          li
            a(href='https://twitter.com/HenryBM87').icon.fa-twitter
              span.label Twitter
          li
            a(href='https://www.facebook.com/Henrybm87').icon.fa-facebook
              span.label Facebook
          li
            a(href='https://www.instagram.com/henrybmpro/').icon.fa-instagram
              span.label Instagram
              
        p &copy; 
          a(href='http://henrybarefoot.com/')  Henry Barefoot
     
