block script
  
  script(src='/assets/js/jquery.min.js')
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js',
  integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4',
  crossorigin='anonymous')  
  
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js',
  integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1',
  crossorigin='anonymous')
  
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    
  script(src='/assets/js/jquery.sticky.js')
  
  script(src='/assets/js/skel.min.js')  
    
  script(src='/assets/js/util.js')
    
  script(src='/assets/js/animsition.min.js')
    
  script(src='/assets/js/main.js')
  
  script(src='/assets/js/myjsfile.js')
